<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Ember</string>
	<key>ordering</key>
	<array>
		<string>C1426A33-D4DF-4821-93A5-34ED0930A09B</string>
		<string>0E360103-D58F-4127-AB21-626305AED322</string>
		<string>7D1B08D0-2EE1-4B1E-8CD0-C7BA4836E819</string>
	</array>
	<key>uuid</key>
	<string>65FD4A99-3A42-4A11-8A36-DDC8FD96D0FD</string>
</dict>
</plist>
